/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.contenedor-nav {
  position: relative;
  width: 100%;
}

/* =============== navegacion ================ */
.navegacion {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navegacion.active {
  width: 80px;
}

.navegacion ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navegacion ul li {
  position: relative;
  width: 100%;
  height: 55px;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navegacion ul li:hover,
.navegacion ul li.hovered {
  background-color: var(--white);
}

.navegacion ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navegacion ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navegacion ul li:hover a,
.navegacion ul li.hovered a {
  color: var(--blue);
}

.navegacion ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navegacion ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navegacion ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navegacion ul li:hover a::before,
.navegacion ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navegacion ul li:hover a::after,
.navegacion ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -45px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Cliente Busqueda ===================== */

.cont_cliente {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
}
.cont_cliente .cont_clt {
  position: relative;
  display: grid;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.cont_cliente .cont_clt form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  padding: 8px;
  border-radius: 20px;
}
#clientes {
  display: flex;
  flex-wrap: wrap; 
  gap: 2px; 
  justify-content: center;
}
#clientes .case {
  flex: 1; 
  min-width: 150px; 
}
.case input {
  text-align: center; 
}
#Nacionalidad {
  border: 1px solid black;
  border-radius: 20px;
  padding: 7px;
}
.cont_cliente .cont_clt form input{
  margin: 0px 5px; 
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 8px;
  border-radius: 20px;
}
.cont_cliente .cont_clt form input::placeholder,
.cont_cliente .cont_clt div{
  text-align: center;
}
.cont_cliente .cont_clt div button{
  font-size: 15px;
}
.cont_cliente .cont_clt div h2 {
  font-weight: 600;
  color: var(--blue);
}

/* ===================== principal ===================== */
.principal {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.principal.active {
  width: calc(100% - 80px);
  left: 80px;
}
.barratop {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}
.buscar {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.buscar label {
  position: relative;
  width: 100%;
}
.buscar label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.buscar label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================== Tabla de Datos ============== */

.dt-serv {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  /* margin-top: 10px; */
}

.dt-serv .serviciosTable {
  position: relative;
  display: grid;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.dt-serv .cartaHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cartaHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.cartaHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

#form-agregar input {
  width: 100%;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.ocultar{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  word-wrap: normal;
}
.mostrar{
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
  cursor: pointer;
  word-wrap: break-word;
}
.dt-serv table {
  width: 100%;
  border-collapse: collapse;
}
.dt-serv table thead td {
  font-weight: 600;
}
.dt-serv .serviciosTable table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.dt-serv .serviciosTable table tr:last-child {
  border-bottom: none;
}
.dt-serv .serviciosTable table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.dt-serv .serviciosTable table tr td {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.dt-serv .serviciosTable table tr td:last-child {
  text-align: center;
  max-width: 60px;
}
.dt-serv .serviciosTable table tr td:nth-child(1) {
  max-width: 30px;
}
.dt-serv .serviciosTable table tr td:nth-child(2) {
  max-width: 35px;
}
.dt-serv .serviciosTable table tr td:nth-child(3) {
  max-width: 50px;
}
.dt-serv .serviciosTable table tr td:nth-child(4) {
  max-width: 30px;
}
.dt-serv .serviciosTable table tr td:nth-child(5) {
  max-width: 30px;
}
.dt-serv .serviciosTable table tr td:nth-child(6) {
  max-width: 20px;
}
/*.dt-serv .serviciosTable table tbody tr td:nth-child(3) {
  text-align: center;
}*/
.dt-serv .serviciosTable table tr td span {
  margin: 10px;
}

.status.listo {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pendiente {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.cancelado {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.enProgreso {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.contenedor {
  margin: 2vh;
  padding: 10px;
  border: 2px solid black;
  border-radius: 30px;
}

.contenedor table {
  padding: 5px;
}

.dt-serv .conte-btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
}
#buscador_tabla {
  border: 1px solid black;
  padding: 8px;
  border-radius: 20px;
  margin-right: 20px;
}

div.dataTables_wrapper input[type="search"] {
  display: none;
}
div.dataTables_wrapper .dataTables_filter {
  display: none;
}

.dt-serv .conte-btns .btn-agregar{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.25);
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.btn-cancelar{
  background: #ce1717;
  color: var(--white);
  cursor: pointer;
  border: 0px;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}
.btn-cancelar:hover{
  background:red;
  color: var(--white);
}
.btn-buscar{
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
  border: 0px;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}
.btn-buscar:hover{
  background:#1795ce;
  color: var(--white);
}
.btns {
  cursor: pointer;
  padding: 5px 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.btns.btn-agregar{
  background: var(--blue);
  color: var(--white);
}
.btns.btn-modificar{
  background: var(--black2);
  color: var(--white);
}
.btns.btn-eliminar{
  background: #f00;
  color: var(--white);
}

.ventana {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

#ventmodifi {
  display: none;
}

.ventana .conte-vent {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  padding: 80px;
  max-width: 400px;
  margin: 0 auto;
}

.ventana .conte-vent .btns.btn-cerrar{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
}

.ventana .conte-vent select{
  border: 1px solid black;
}

.ventana .conte-vent #form-modificar input,
.ventana .conte-vent select{
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}
.ventana .conte-vent #form-modificar button{
  border: 0px solid black;
  padding: 5px;
}

.ventana .conte-vent input,
.ventana .conte-vent select
{
  margin-bottom: 10px;
}
.ventana .conte-vent #form-agregar input{
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}
.ventana .conte-vent #form-agregar button{
  padding: 5px;
  border: 0px solid black;
}


#venteliminar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

#venteliminar .conte-vent {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  padding: 100px;
}

#venteliminar .conte-vent .btns.btn-cerrar{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
}

#ventagregar {
  display: none;
}

.ventana .conte-vent {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  padding: 100px;
}

.ventana .conte-vent .btns.btn-cerrar{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
}
/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navegacion {
    left: -300px;
  }
  .navegacion.active {
    width: 300px;
    left: 0;
  }
  .principal {
    width: 100%;
    left: 0;
  }
  .principal.active {
    left: 300px;
  }
  .cartaCaja {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cartaCaja {
    grid-template-columns: repeat(1, 1fr);
  }
  .cartaHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navegacion {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navegacion.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .principal.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}

