/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    width: 95%;
    margin:  auto;
    max-width: 1200px;
}

/* Header */
header {
    background-color: #ff6600;
    color: white;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}


header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ffcc66;
}
.container .hotel-name {
    align-self: center;
}
.hotel-name {
    position: fixed;
    margin-top: 1.5%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.login-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    margin-right: 30px;
    background-color: #fff;
    color: #ff6600;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.login-btn:hover {
    background-color: #ffcc66;
    color: #fff;
}
.login-up-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    margin-right: 180px;
    background-color: #fff;
    color: #ff6600;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.login-up-btn:hover {
    background-color: #ffcc66;
    color: #fff;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('  ./img/piscina2.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 250px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
}

/* About Section */
.about {
    padding: 50px 0;
}

.about h2 {
    text-align: center;
    margin-bottom: 20px;
}

.about p {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

/* Gallery Section */
.gallery {
    padding: 50px 0;
}

.gallery h2 {
    text-align: center;
    margin-bottom: 20px;
}

.gallery-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-grid img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

/* Info Section */
.info {
    padding: 50px 0;
}

.info h2 {
    text-align: center;
    margin-bottom: 20px;
}

.info-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-content .map,
.info-content .contact {
    width: 45%;
    text-align: center;
}

.info-content .contact p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-content .contact p img.contact-icon {
    margin-right: 10px;
    width: 24px; /* Ajusta este tamaño según sea necesario */
    height: 24px; /* Ajusta este tamaño según sea necesario */
}

.info-content iframe {
    width: 100%;
    border: none;
}