/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.contenedor-nav {
  position: relative;
  width: 100%;
}

/* =============== navegacion ================ */
.navegacion {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navegacion.active {
  width: 80px;
}

.navegacion ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navegacion ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navegacion ul li:hover,
.navegacion ul li.hovered {
  background-color: var(--white);
}

.navegacion ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navegacion ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navegacion ul li:hover a,
.navegacion ul li.hovered a {
  color: var(--blue);
}

.navegacion ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navegacion ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navegacion ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navegacion ul li:hover a::before,
.navegacion ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navegacion ul li:hover a::after,
.navegacion ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== principal ===================== */
.principal {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.principal.active {
  width: calc(100% - 80px);
  left: 80px;
}

.barratop {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.buscar {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.buscar label {
  position: relative;
  width: 100%;
}

.buscar label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.buscar label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======================= cartas ====================== */
.cartaCaja {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cartaCaja .carta {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cartaCaja .carta .numeros {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.cartaCaja .carta .cartaName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cartaCaja .carta .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.cartaCaja .carta:hover {
  background: var(--blue);
}
.cartaCaja .carta:hover .numeros,
.cartaCaja .carta:hover .cartaName,
.cartaCaja .carta:hover .iconBx {
  color: var(--white);
}

/* ================== Lista de Detalles Index ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .cartaHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cartaHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.cartaHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}

/* ================== Lista de Detalles Servicios ============== */

.dt-serv {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  /* margin-top: 10px; */
}

.dt-serv .serviciosTable {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.dt-serv .cartaHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cartaHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.cartaHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.dt-serv table {
  width: 100%;
  border-collapse: collapse;
}
.dt-serv table thead td {
  font-weight: 600;
}
.dt-serv .serviciosTable table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.dt-serv .serviciosTable table tr:last-child {
  border-bottom: none;
}
.dt-serv .serviciosTable table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.dt-serv .serviciosTable table tr td {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.dt-serv .serviciosTable table tr td:last-child {
  text-align: center;
  max-width: 90px;
}
.dt-serv .serviciosTable table tr td:nth-child(2) {
  max-width: 200px;
}
.dt-serv .serviciosTable table tr td:nth-child(3) {
  max-width: 30px;
}
.dt-serv .serviciosTable table tr td span {
  margin: 10px;
}

.status.listo {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pendiente {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.cancelado {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.enProgreso {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.contenedor {
  margin: 2vh;
  padding: 10px;
  border: 2px solid black;
  border-radius: 30px;
}

.contenedor table {
  padding: 5px;
}

.dt-serv .conte-btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
}

.dt-serv .conte-btns .btn-agregar{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.btns {
  cursor: pointer;
  padding: 5px 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.btns.btn-modificar{
  background: var(--black2);
  color: var(--white);
}
.btns.btn-eliminar{
  background: #f00;
  color: var(--white);
}

#ventmodifi {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

#ventmodifi .conte-vent {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  background: #f5f5f5;
  padding: 100px;
}

#ventmodifi .conte-vent .btns.btn-cerrar{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
}
/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navegacion {
    left: -300px;
  }
  .navegacion.active {
    width: 300px;
    left: 0;
  }
  .principal {
    width: 100%;
    left: 0;
  }
  .principal.active {
    left: 300px;
  }
  .cartaCaja {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cartaCaja {
    grid-template-columns: repeat(1, 1fr);
  }
  .cartaHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navegacion {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navegacion.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .principal.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
